.content {
    margin-top: 70px;
}

.btn-group {
    margin: 0, auto;
}

#creditCardForm, #cashOnDeliveryForm {
    display: none;
}

#selectable li {
    width: 80px;
    height: 50px;
    text-align: center;
    font-size: 2.4em;
}

#selectable .ui-selecting { 
    background: #FECA40; 
}

#selectable .ui-selected {
    background: #F39814; color: white;
}
