.carousel img {
    max-height: 900px;
    width: 100%;
}

.content {
    margin-top: 20px;
    margin-bottom: 40px;
}
.row div {
    text-align: center;
    margin-bottom: 30px;
}

.row div img {
    max-height: 250px;
    max-width: 300px;
}

#alertAddCart, #alertAddWish {
    display: none;
}